@use '@/styles/global' as *;

////
/// @group core
////

body {
  min-height: 100dvh;
  font-family: $ff;
}

img,
svg {
  vertical-align: bottom;
}

:focus-visible {
  outline: none;
}

main {
  position: relative;
}
