@use 'sass:math';
@use '../variables' as *;
@use '../fonts' as *;

////
/// @group global
////

/// フォントサイズ指定
/// - font-size, letter-spacing, line-heightを設定する
/// - 引数は全て単位不要
/// - font-sizeはデザイン上のpx数で指定する
/// - letter-spacingは値の範囲によって処理が異なる
///   - 1以上の場合は指定した値の1/1000になる（px指定と解釈する）
///   - 1未満の場合はそのまま使用される（直接指定と解釈する）
/// - line-heightは値の範囲によって処理が異なる
///   - 10以上の場合は `($lh / $fz)` が使用される（px指定と解釈する）
///   - 10未満の場合はそのまま使用される（直接指定と解釈する）
/// @param {int} $fz [14] font-size
/// @param {int | float} $ls [0.05] letter-spacing
/// @param {int | float} $lh [1.5] line-height
@mixin f($fz: 14, $ls: 0.05, $lh: 1.5) {
  font-size: $fz * 1px;

  @if $ls < 1 {
    letter-spacing: $ls * 1em;
  } @else {
    letter-spacing: math.div($ls, 1000) * 1em;
  }

  @if $lh < 10 {
    line-height: $lh;
  } @else {
    line-height: math.div($lh, $fz);
  }
}
